<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.css">
    <link rel="stylesheet" href="../public/css/cyrus.carousel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/js/owl.carousel.js"></script>
</head>
<body>
    
    <div class="cyrus-carousel">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="card"><!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/header-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/home-faq.png" alt="header">
                </div>
                <div class="content">
                    <div class="title">Grace Bisimwa</div>
                        <div class="sub-title">Powered by Sniper</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/homecontact-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">Bahizi Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/home-faq.png" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/header-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/header-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/header-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card">   <!-- card n1 -->
                    <div class="img">
                    <img src="../public/img/header-bg.jpg" alt="header">
                </div>
                <div class="content">
                    <div class="title">MAPENDANO Christian</div>
                        <div class="sub-title">Carousel builder on tuto</div>
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                                voluptas voluptates placeat veritatis nostrum saepe ab quo 
                                doloribus saepe cupiditate quaerat ducimus dignissimos? 
                                Libero totam dolorem aliquid culpa harum alias sit unde adipisci incidunt.
                            </p>
                        <div class="btn">
                            <button>Read more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:90,
            nav:true,
            autoplay: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })
    </script>
</body>
</html>