<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carousel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.css">
    <link rel="stylesheet" href="../public/css/cyrus.carousel.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/js/owl.carousel.js"></script>
</head>
<body>
    <div class="cyrus-carousel">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="card-box shadow">
                    <div class="img-area">
                        <img src="https://z-p3-scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-1/c50.0.200.200a/p200x200/50505579_1121342424740613_379181187727360000_o.jpg?_nc_cat=101&ccb=2&_nc_sid=7206a8&_nc_eui2=AeFn6sgEGbbMIYQ-PfGjWMV2btButqISEd5u0G62ohIR3r4rNTX5jbTbKIrek9I9p4zxUL1GmWTstQKZJV_mqVwA&_nc_ohc=920uxn564DoAX-ByBOo&_nc_ht=z-p3-scontent.fkgl1-1.fna&tp=27&oh=a4a135d789cae137f6e57bbeddd4e640&oe=6000600D" alt="Sniper">
                    </div>
                    <p>Chris bahizi</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item">
                <div class="card-box shadow">
                    <div class="img-area">
                        <img src="https://z-p3-scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/121184941_2836052310014525_7499035101432966505_o.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEVX93GpTwu_vFMR1M_rJrzwpFn9O_w_FzCkWf07_D8XEcVrGIUMvmO2fU4uoFflM8HkfGwLlcCXm5LXGPhweNZ&_nc_ohc=_m4kClWkZMMAX8AzTfC&_nc_ht=z-p3-scontent.fkgl1-1.fna&oh=455bda6618e243bb6e39129df2e4c0ec&oe=600006E1" alt="Cyrus">
                    </div>
                    <p>Chris bahizi</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item">
                <div class="card-box shadow">
                    <div class="img-area">
                        <img src="https://z-p3-scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/110983489_3013424465450675_2411853159129688546_o.jpg?_nc_cat=107&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeEAgVqm9YaI2-zN9uVjdrSZ8-C1SVDXDabz4LVJUNcNpvx5KL7CIAcvRZ9TK1AvN3x3LQWBixPOxMfaDnF0SQz9&_nc_ohc=iPvRCLyJ7MMAX9uYTUR&_nc_ht=z-p3-scontent.fkgl1-1.fna&oh=11aaf1b4b658c5032fce97d1c03b5f20&oe=6001E21A" alt="Cyrus">
                    </div>
                    <p>Grace Bisimwa</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item">
                <div class="card-box shadow">
                    <div class="img-area">
                        <img src="https://z-p3-scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/31563876_975036429318782_8033011246494121984_n.jpg?_nc_cat=109&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeET4IgtrAp4T_aDUdGBcaJ62JRb7ZDeu5jYlFvtkN67mEf8rIsva806gMaEaHSsdC00jTvvc_Xav7YCsrbCVMrV&_nc_ohc=9QoQg8IjZucAX-c7OxR&_nc_ht=z-p3-scontent.fkgl1-1.fna&oh=0fc6efeba41203aea416416c53d6ba1a&oe=600343F4" alt="Peter">
                    </div>
                    <p>Peter kahumuza</p>
                    <button>Read more</button>
                </div>
            </div>
            <div class="item">
                <div class="card-box shadow">
                    <div class="img-area">
                        <img src="https://z-p3-scontent.fkgl1-1.fna.fbcdn.net/v/t1.0-9/116284695_2686908754919311_3182240436538303772_n.jpg?_nc_cat=100&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGWsReeu4xE0XYbVDpb-KMtK26_lCyn8l8rbr-ULKfyXywNuBuhP-_JqW79MR9hAOVwsrOWj3RXR33qy5dB6qNF&_nc_ohc=C1KbPXKFSWwAX8i4IC3&_nc_ht=z-p3-scontent.fkgl1-1.fna&oh=07520f3a60beec3415ebd6e3d6a02431&oe=6002102F" alt="Peter">
                    </div>
                    <p>Julienne Butelezi</p>
                    <button>Read more</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            autoplay: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })
    </script>
</body>
</html>