<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CCPGL</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <h3 class="text-uppercase text-center">trainee registration form</h3>
        <hr>
        <p class="text-center">one this form the application we will filll all forms</p>
        <div class="container">
            <div class="row">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 p-1">
                            <div class="card card-body">
                                <h3>Application identity</h3>
                                <div class="form-group row m-1">
                                    <label for="firstname" class="col-sm-3 col-form-label">First name</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" id="firstname">
                                    </div>
                                  </div>
                                  <div class="form-group row m-1">
                                    <label for="lastname" class="col-sm-3 col-form-label">Last name</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" id="lastname">
                                    </div>
                                  </div>
                                  <div class="form-group row m-1">
                                    <label for="age" class="col-sm-3 col-form-label">Age</label>
                                    <div class="col-sm-9">
                                      <input type="number" class="form-control" id="age">
                                    </div>
                                  </div>
                                  <div class="form-group row m-1">
                                    <label for="age" class="col-sm-3 col-form-label">Gender</label>
                                    <div class="col-sm-9">
                                      <div class="d-flex py-1 justify-content-between align-items-center">
                                          <span>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck" name="gender">
                                                <label class="custom-control-label" for="customCheck">Male</label>
                                              </div>
                                          </span>
                                          <span>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck" name="gender">
                                                <label class="custom-control-label" for="customCheck">Female</label>
                                              </div>
                                          </span>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 p-1">
                            <div class="card card-body">
                                <h2>Choices and details</h2>
                                <div class="form-group row m-1">
                                    <label for="staticEmail" class="col-sm-5 col-form-label">Selectel subject</label>
                                    <div class="col-sm-7">
                                        <select name="subject" class="form-control">
                                            <option selected>Custom Select Menu</option>
                                            <option value="Anglais">Anglais</option>
                                            <option value="Francais">Francais</option>
                                            <option value="Informatique">Informatique</option>
                                            <option value="Programming">Programming</option>
                                            <option value="Gym">Gym</option>
                                            <option value="Karate">Karate</option>
                                        </select>
                                    </div>
                                  </div>
                                  <div class="form-group row m-1">
                                    <label for="start" class="col-sm-3 col-form-label">start</label>
                                    <div class="col-sm-9">
                                      <input type="date" class="form-control" id="start">
                                    </div>
                                  </div>
                                  <div class="form-group row m-1">
                                    <label for="fin" class="col-sm-3 col-form-label">End</label>
                                    <div class="col-sm-9">
                                      <input type="date" class="form-control" id="fin">
                                    </div>
                                  </div>
                                  <p class="p-0 m-0 text-center">
                                      <b>
                                        Days and hours of the hain
                                      </b>
                                  </p>
                                  <div class="row">
                                      <div class="col-md-7 p-0">
                                        <div class="form-group row m-1">
                                            <label for="days" class="col-sm-3 col-form-label">Days</label>
                                            <div class="col-sm-9">
                                              <input type="text" class="form-control" id="days">
                                            </div>
                                        </div>
                                      </div>
                                      <div class="col-md-5 p-0">
                                        <div class="form-group row m-1">
                                            <label for="days" class="col-sm-3 col-form-label">
                                                <small>Time</small>
                                            </label>
                                            <div class="col-sm-9">
                                              <input type="text" class="form-control" id="time">
                                            </div>
                                        </div>
                                      </div>
                                  </div>
                                  <hr class="bg-secondary">
                                  <div class="form-group row m-1">
                                    <label for="fin" class="col-sm-6 col-form-label">Transmission Language</label>
                                    <div class="col-sm-6">
                                        <select name="subject" class="form-control">
                                            <option selected>Custom Select Menu</option>
                                            <option value="Anglais">Anglais</option>
                                            <option value="Francais">Francais</option>
                                            <option value="Informatique">Informatique</option>
                                            <option value="Programming">Programming</option>
                                            <option value="Gym">Gym</option>
                                            <option value="Karate">Karate</option>
                                        </select>
                                    </div>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <h4 class="text-uppercase text-center">
                            
                        </h4>
                    </div>
                </form>
            </div>
        </div>
        
    </div>
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>