<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users carousel</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../public/js/jquery-3.4.0.min.js"></script>
    <script src="../public/js/owl.carousel.js"></script>
</head>
<body>
    <div class="wrapper">
        <h3>Carousel</h3>
        <div class="owl-carousel owl-theme text-center">
            <div class="item">
                <h4>one slide</h4>
                <div id="result"></div>
            </div>
            <div class="item">
                <h4>number two</h4>
            </div>
            <div class="item">
                <h4>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis deleniti, quod sint nisi vero dolorum, voluptatem nostrum dicta natus ut quisquam laboriosam repudiandae illo. Recusandae voluptatum error asperiores eaque! Itaque!
                </h4>
            </div>
            <div class="item">
                <h4>
                    combo-box
                </h4>
            </div>
        </div>
    </div>

    <script>
        $('.owl-carousel').owlCarousel({
            loop:true,
            margin:90,
            nav:true,
            autoplay: true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:2
                },
                1000:{
                    items:3
                }
            }
        })
    </script>

    <script>
        let output = ''
        fetch('http://localhost:7000/users/4').then(res=>res.json()
        .then(data =>{
            if(data.length > 0){
                // output += '<div class="owl-carousel owl-theme">'
                data.forEach(item =>{
                    output += `
                        <div>
                            ${item.username}
                        </div>
                    `
                })
                // output += '</div>'
                document.getElementById('result').innerHTML = output
            }else{
                document.getElementById('results').innerHTML = '<p class="al">There no data</p>'
            }
        })).catch(err=>console.error(err))
    </script>
</body>
</html>