<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users carousel</title>
    <link rel="stylesheet" href="../public/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/css/owl.theme.default.css">
    <script src="../public/js/owl.carousel.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="owl-carousel">
            <div id="results"></div>
        </div>
    </div>
</body>
</html>