*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    font-family: roboto !important;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    display: block;
    width: 100%;
    /* background: red; */
}
.container form{
    position: relative;
    width: 50%;
    margin: auto;
}

.grid{
    position: relative;
    display: grid;
    grid-gap: 10px
}

.grid-4{
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    align-content: center;
}
.grid-3{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    align-content: center;
}
.grid-2{
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
}

.center{
    text-align: center;
}

.form{
    display: block;
    padding: 10px;
}
.form .input{
    /* display: block; */
    width: 100%;
    padding: 10px;
    border: 2px solid #999;
    border-radius: 4px;
    outline: none;
}
.form.error .input{
    border: 2px solid rgb(255, 101, 101)
}
.form.success .input{
    border: 2px solid rgb(76, 238, 76)
}

.border-o{
    position: relative;
    padding: 10px 5px;
    margin: 10px 0;
    /* background: #ccc; */
    border: 2px solid rgba(55, 54, 54, 0.535);
    border-radius: 20px;
}
.header{
    background-color: rgb(47, 47, 145);
    color: #fff;
    padding: 10px;
}
textarea{
    width: 100%;
    padding: 10px;
    border: 2px solid #999;
    border-top: 0;
    outline: none;
    font-family: roboto !important;
}
.pt{
    padding-top: 20px;
}
.mb{
    margin-bottom: 20px;
}
.list{
    position: relative;
    list-style: none;
    padding: 10px;
    border: 2px solid #999;
    border-top: 0;
}
.button{
    background-color: rgb(47, 47, 145);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 4px;
    padding: 10px;
}